.container{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
}

.column1{
  display:grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: repeat(10,1fr);
  align-items: center;
  grid-gap: 10px;
}


.column2{
  background-color: lightgray;
  height:1000px;
}

li{
  color: white;
  font-size: 1.5rem;
  list-style: none;
}

#dash{
  font-size:30px;
}

ul:first-child{
  grid-row: 1/2;
  background-color: blue;
}
