.container{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
}


.column2{
  background-color: lightgray;
  height:1000px;
}

li{
  color: white;
  font-size: 1.5rem;
  list-style: none;
}

#dash{
  font-size:2rem;
}

ul:first-child{
  grid-row: 1/2;
  background-color: blue;
}
