body {
  background-color: lightgray;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
}

.column1a, .column1b, .column1c, .dash {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  grid-gap: 15px;
  background-color:rgb(30, 171, 232);

}

.column1a {
  grid-template-rows: repeat(3, 1fr);
}

.column1c {
  grid-template-rows: repeat(19, 1fr);
}

.dash {
  grid-template-rows: 2fr 1fr;
  grid-template-columns: clamp(20px, 20%, 35px) 1fr;
}

.column2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: clamp(75px, 30%, 125px) 20px 75vh;
  grid-gap: 20px;
  height: 1000px;
}

#dash {
  font-size: 30px;
}

.column1labels{
  color: white;
}
/*first row*/
.row1 {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(3,clamp(70px, 10%, 75px));
  background-color: white;
}
/*created subrow*/
.row1a {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 20px;
}

form {
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: 20px 20px;
  align-items: center;
  grid-gap: 10px;
}

#search {
  border-radius: 10px;
  background-color: lightgray;
}
#search-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 1fr;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

#item3side1 {
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-rows: 45px;
  grid-column-gap: 20px;
  margin-left: 20px;
  align-items: end;
}

#p1 {
  font-size: 15px;
}

div[id="item3side1"]>div {
  align-self: center;
}

#p2 {
  font-size: 25px;
  grid-column: 2/3;
}

#userwelcome {
  line-height: .05px;
}

#item2 {
  display: grid;
  grid-template-columns: 20px 40px 1fr;
  grid-template-rows: 40px;
  grid-column-gap: 20px;
  margin-left: 20px;
  align-items: center;
  justify-content: flex-end;
  grid-column-gap: 25px;
}

#item2>p {
  font-size: 20px;
}

#item4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  align-content: center;
  justify-content: center;
}

#item4>button {
  background-color: blue;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  width: 100px;
  height: 30px;
}

.row2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.leftside {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  grid-gap: 50px;
  margin-left: 30px;
}

.leftside>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-left: 5px solid orange;
  border-radius: 15px;
}

.rightside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 10vh 1fr;
}

.rightside>div {
  background-color: white;
  border-left: 20px solid lightgray;
  border-right: 10px solid lightgray;
  border-top: 5px solid lightgray;
  border-radius: 25px;
}

.rightside>div:nth-child(2) {
  background-color: lightgray;
}

.bottomicons {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 3vh 3vh 3vh;
  grid-template-rows: 1fr;
  align-self: end;
  position: relative;
  right: 35px;
  bottom: 20px;
}

#announcements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#announcements>div {
  margin: 15px;
}

#announcements>div:nth-child(2) {
  border-top: 1px solid black;
}

#announcements>div:nth-child(3) {
  border-top: 1px solid black;
}

.columnheading {
  position: relative;
  left: 15px;
}

#trending {
  display: grid;
  justify-content: center;
  align-self: center;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-columns: 5vh 1fr;
  grid-template-rows: 5vh 5vh 5vh 5vh;
}

.icon {
  background-color: gray;
  border-radius: 100px;
}

h4 {
  position: relative;
  bottom: 20px;
}

.icon {
  position: relative;
  left: 5px;
}

#trend {
  position: relative;
  bottom: 0px;
  top: 40px;
}
